body {
    background: #cccccc;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    margin: 0.5em 0;
}


#wrap {
    background: white;
    padding: 15px;
    margin: 15px auto;
    width: 900px;
    box-shadow: 0 2px 4px #333333;
    border-radius: 3px;
}


header {
    background: #c51417;
    color: white;
    padding: 10px;
    text-align: center;
    margin:  0 0 5px 0;
}

header h1 {
    font-weight: bold;
    text-transform: uppercase;

}


nav {
    background: #333333;
    padding: 3px;
    overflow: hidden; 
    margin-bottom: 15px;   
    
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

nav ul li {
    display: inline-block; 
    float: left;
    
   
}

nav ul li a {
    display: block;
    color: white;
    margin-left: 25px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;

}

li a:hover {
    color: #c51417;
  }

  article {
    background: white;
    width: 660px;
    float: left;
    margin: 0;
}

aside {
    width: width: 230px
    float: right;
    background: white;
    margin: 0;
}


img {
    width: 230px;
}

footer {
    background: white;
    clear: both;
    color: #333;
    padding: 12px;
    text-align: center;